# untracked configuration files
caelus_conf.py
caelus-environment.cmd
caelus-bashrc
caelus-cshrc

# SCon database file
.sconsign.dblite

# ignore files generated during build
global.cpp
.build

# build folders - anywhere
dummySizes
platforms/
lnInclude/

#Windows stuff
*.dwf
*.pdb
*.exp
*.dll
*.exe

#Mac and Linux stuff
*.[oa]
*.la
*.so
*.os
*.jar
*.obj
*.lib
*.dylib
*.pyc

# editor and misc backup files - anywhere
*~
.*~
*.bak
*.bak[0-9][0-9]
*.orig
*.orig[0-9][0-9]
*.DS_store
\#*\#

# derived files
lex.yy.c
src/core/meshTools/triSurface/triSurface/interfaces/STL/posix/
src/surfMesh/surfaceFormats/stl/posix/
src/thermophysicalModels/reactionThermo/chemistryReaders/chemkinReader/posix/

# file-browser settings - anywhere
.directory

# log file from testing
*.log

# source packages - anywhere
*.tar.*
*.tar
*.tgz
*.gtgz

# Binaries from in source build
#potentialSolver
#pisoSolver
#simpleSolver
#MRFSimpleSolver
#SRFSimpleSolver
#porousSimpleSolver
#porousMRFSimpleSolver
#buoyantSimpleSolver
#buoyantBoussinesqSimpleSolver
#pimpleSolver
#pimpleDyMSolver
#vofSolver

# Binaries from utilities
#setFields
#mapFields
#changeDictionary
#yPlusRAS
#yPlusLES
#wallShearStress
#wallHeatFlux
#wallGradU
#vorticity
#uprime
#streamFunction
#flowType
#enstrophy
#Q
#Pe
#Mach
#Lambda2
#Co
#createTurbulenceFields
#R
#stressComponents
#pPrime2
#sample
#probeLocations
#patchIntegrate
#patchAverage
#writeCellCentres
#wdot
#temporalInterpolate
#pTot
#postChannel
#execFlowFunctionObjects
#caelusListTimes
#steadyParticleTracks
#particleTracks
#caelusToVTK
#caelusToTetDualMesh
#caelusToEnsightParts
#caelusDataToEnsight
#caelusDataToFluent
#caelusCalc
#redistributePar
#reconstructParMesh
#reconstructPar
#decomposePar
#autoRefineMesh
#collapseEdges
#combinePatchFaces
#modifyMesh
#refineHexMesh
#refineWallLayer
#refinementLevel
#removeFaces
#selectCells
#splitCells
#caelusMeshToFluent
#caelusToSurface
#fluent3DMeshToCAELUS
#fluentMeshToCAELUS
#mshToCAELUS
#writeMeshObj
#blockMesh
#extrudeMesh
#extrudeToRegionMesh
#attachMesh
#autoPatch
#checkMesh
#createBaffles
#createPatch
#deformedGeom
#flattenMesh
#insideCells
#mergeMeshes
#mergeOrSplitBaffles
#mirrorMesh
#moveDynamicMesh
#moveMesh
#objToVTK
#polyDualMesh
#refineMesh
#renumberMesh
#rotateMesh
#setSet
#setsToZones
#singleCellMesh
#splitMesh
#splitMeshRegions
#stitchMesh
#subsetMesh
#topoSet
#transformPoints
#zipUpMesh
#caelusDebugSwitches
#caelusFormatConvert
#patchSummary


# Binaries from swak
#calcNonUniformOffsetsForMapped
#fieldReport
#funkyDoCalc
#funkySetBoundaryField
#funkySetFields
#funkySetLagrangianField
#funkyWarpMesh
#replayTransientBC
