# untracked configuration files
caelus_conf.py
caelus-environment.cmd
caelus-bashrc
caelus-cshrc
cml_env.json

# SCon database file
.sconsign.dblite

# ignore files generated during build
global.cpp
.build

# ignore files generated during installation
conf.py
build_config.py

# build folders - anywhere
dummySizes
platforms/
lnInclude/
build/

#Windows stuff
*.dwf
*.pdb
*.exp
*.dll
*.exe

#Mac and Linux stuff
*.[oa]
*.la
*.so
*.os
*.jar
*.obj
*.lib
*.dylib
*.pyc

# editor and misc backup files - anywhere
*~
.*~
*.bak
*.bak[0-9][0-9]
*.orig
*.orig[0-9][0-9]
*.DS_store
\#*\#

# derived files
lex.yy.c
src/core/meshTools/triSurface/triSurface/interfaces/STL/posix/
src/surfMesh/surfaceFormats/stl/posix/
src/thermophysicalModels/reactionThermo/chemistryReaders/chemkinReader/posix/

# file-browser settings - anywhere
.directory

# log file from testing
*.log

# source packages - anywhere
*.tar.*
*.tar
*.tgz
*.gtgz
 
docs/Guides
external/linux/openmpi-1\.6\.5/bin/
